h1 {
	text-align: center;
	color: white;
	background-color: black;
	border-radius:5px;
	border:2px solid black;
}
body {
	margin-left: 70px;
}
#btn{
	/*background-color: #ffe6ff;*/
	border-radius: 5px;
}
.navbar{
	float:left;
	text-align: center;
	border-radius: 5px;
	/*border: 2px solid black;*/
	width: 100%;
}
.navbar a{
	float: left;
	width: 20%;
	/*display: block;*/
	/*border-right-style: .5px solid black;*/
	/*font-style: bold;*/
	text-decoration: none;
	color: white;
	background-color: black;
}
.countbar{
	float: left;
	width: 11%;
	/*background-color: lightblue;*/
	border-radius: 5px;
	border: 2px solid black;
}
.content{
	float: right;
	width: 88%;
	/*background-color: lightpink;*/
	border-radius: 5px;
	border: 2px solid black;
}